#!/usr/bin/make -f
include /usr/share/dpkg/buildflags.mk

export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/architecture.mk

export DEB_HOST_MULTIARCH

multiarch_path = $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=cmake --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DBUILD_STATIC_LIBS=ON \
		-DRIPC_BUILD_TESTING=OFF

override_dh_auto_clean:
	rm -rf $(CURDIR)/build
	dh_auto_clean
