#!/usr/bin/make -f
export DH_VERBOSE = 1
export V=1  # verbose mode for make

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/architecture.mk

export DEB_HOST_MULTIARCH

multiarch_path = $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=cmake --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_STATIC_LIBS=ON \
		-DRIPC_BUILD_TESTING=OFF
